
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.acme"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="metadataRegistryService"
          class="com.acme.core.metadata.registry.impl.DefaultMetadataRegistryService">
        <constructor-arg value="PT5M"/>
    </bean>
    <bean id="metadataGuard"
          class="com.acme.core.metadata.DefaultMetadataGuard">
        <constructor-arg ref="metadataRegistryService"/>
    </bean>
    
    <!-- 新的统一验证器 -->
    <bean id="unifiedMetadataValidator"
          class="com.acme.core.metadata.DefaultUnifiedMetadataValidator">
        <constructor-arg ref="metadataRegistryService"/>
    </bean>
    
    <!-- 硬编码数据处理器 -->
    <bean id="hardcodedDataProcessor"
          class="com.acme.core.metadata.extension.HardcodedDataProcessor"/>
    
    <!-- 统一验证门面 -->
    <bean id="unifiedValidationFacade"
          class="com.acme.core.metadata.UnifiedMetadataValidationFacade">
        <constructor-arg ref="unifiedMetadataValidator"/>
        <constructor-arg ref="metadataGuard"/>
        <constructor-arg ref="hardcodedDataProcessor"/>
    </bean>
    
    <!-- 数据转换器注册 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetObject" ref="unifiedMetadataValidator"/>
        <property name="targetMethod" value="registerConverter"/>
        <property name="arguments">
            <list>
                <value>creditExtInfo</value>
                <bean class="com.acme.core.metadata.converter.CreditExtInfoConverter"/>
            </list>
        </property>
    </bean>
    
    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetObject" ref="unifiedMetadataValidator"/>
        <property name="targetMethod" value="registerConverter"/>
        <property name="arguments">
            <list>
                <value>default</value>
                <bean class="com.acme.core.metadata.converter.DefaultObjectConverter"/>
            </list>
        </property>
    </bean>
    
    <!-- 重构后的元数据验证器（推荐使用） -->
    <bean id="metadataValidator"
          class="com.acme.core.metadata.DefaultMetadataValidator">
        <constructor-arg ref="unifiedValidationFacade"/>
    </bean>
</beans>
